<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Tasks</title>
</head>
<body>

<h2 align="center">ToDo Application</h2>
<div>
    <form action="/"
          method="post">
        <div>
            <input type="text" name="title" placeholder="Add a new task" required>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>

<div th:each="tasks : ${allTasks}">
    <p>Id : <span th:text="${tasks.id}"></span></p>
    <p>Title : <span th:text="${tasks.title}"></span></p>
    <p>Completed : <span th:text="${tasks.completed}"></span></p>
</div>

</body>
</html>